.header img{
    height: 80px;
}

.header{
    text-align: center;
}

nav a{
    text-decoration: none;
    margin: 10px;
    padding: 5px;
    color: white;
    font-size: large;
    align-items: left;
}

nav a:hover{
    background-color: grey;
    color: black;
    font-weight: bolder;
}

nav{
    background-color: black;
    padding: 10px 0;
}

.search-area{
    padding: 5px 10% 5px 10%;
    height: 50px;
    background-color: gray;
}

.input-box{
    font-size: large;
    height: 40px;
    width: 70%;
    border-radius: 10px;
}